%h1 Objednávka

= semantic_form_for(order) do |f|

  %h2 Doprava
  = render "shipping_methods", f: f

  %h2 Platba
  = render "payment_methods", f: f

  %h2 Zákazník
  = render "customer", f: f