//nested sets
ul.sub_item {
  margin-left: 30px !important
}

span.add_new_field_link {
  text-decoration: underline;
  cursor: pointer;
}

table ul li {
  list-style-type: none;
}

label.required::after {
  content: "*"
}

input[type=number] {
  width: 70px;
}