h2
  font:
    size: 2.4em
  margin-bottom: 15px

h3
  font:
    size: 2em
  margin-bottom: 13px

.panel
  background:
    image: image_url('/assets/admin/panels/panel_header.png')
    repeat: repeat-x
    color: $dark_complement_color
  margin:
    bottom: 0px
  border:
    bottom: 2px solid #35353a
  @include border-radius(4px, 4px)

h2.panel

h3.panel
  height: 25px
  line-height: 26px
  font:
    size: 16px
  padding: 12px 12px 10px 12px
  color: $light_complement_color

