table
  width: 100%
  border-collapse: collapse

table.table_overview
  width: 99%
  margin-left: 3px

  thead
    tr
      background:
        image: image_url('/assets/admin/tables/table_header.png')
        repeat: repeat-x
        position: left bottom
        color: #f5f5f5

      th, td
        padding: 10px 16px
        border:
          bottom: 1px solid #cccccc
          left: 1px solid #cccccc

        &:last-child
          padding: 0px
          margin: 0px

        a.sort_link
          display: block
          width: 100%
          font:
            weight: bold
          color: black
        a.asc, a.desc
          color: red

  tbody, tfoot
    td
      border:
        left:
          width: 1px
          style: dotted
          color: #bebebe !important

      ul.actions
        li
          display: inline-block
          text-indent: -9999px
          white-space: nowrap
          margin:
            top: 2px
          a
            display: block
            width: 16px
            height: 16px
        li.edit
          a
            background:
              image: image_url('/assets/admin/icons/action_edit.png')
        li.delete
          a
            background:
              image: image_url('/assets/admin/icons/action_delete.png')

    tr.odd
      background:
        color: #f2f2f2

    tr.even
      background:
        color: #fafafa

    tr
      td, th
        padding: 2px 16px
      &:hover
        background: $light_complement_color

