%html
    %head
        %title Thrifter

        = stylesheet_link_tag "admin", :media => "all"
        =csrf_meta_tags
    %body
        - flash.each do |type, value|
            .flash{ :class => type.to_s }
                = value

        = yield
